@import '../../../../assets/colors.scss';
.bg-img{
    background-image: url(../../../../assets/help.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    color:#fff;
    // overflow: auto;
    .content{
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
    }
    .wrapper{
        margin-top: 5.5rem;
        .box{
            display: inline-block;
            border: 2px solid #fff;
            margin: 10px 40px;
            padding: 10px;
            width: 150px;
            height: 150px;
            transform: rotate(45deg);
            &:hover{
                background-color: $sub-mode;
                border: 2px solid $sub-mode;
            }
            .box-content{
                 transform: rotate(-45deg);
                 img{
                    height: 70px;
                }
                 .fa-eye,.fa-user-circle,.fa-mobile-alt,.fa-info-circle{
                    font-size: 70px;
                 }
            }
        }
    }
    
}

@media (max-width: 970px) {
    .bg-img{
        .wrapper{
            .box{
                width:100px;
                height:100px;
                &:hover{
                    background-color: $sub-mode;
                    border: 2px solid $sub-mode;
                }
                .box-content{
                     transform: rotate(-45deg);
                     img{
                         height: 30px;
                     }
                     .fa-eye,.fa-user-circle,.fa-mobile-alt,.fa-info-circle{
                        font-size: 30px;
                     }
                }
            }
        }
        
    }
    
  }

  @media (max-width: 762px) {
    .bg-img{
        .wrapper{
            .box{
                width:80px;
                height:80px;
                &:hover{
                    background-color: $sub-mode;
                    border: 2px solid $sub-mode;
                }
                .box-content{
                     transform: rotate(-45deg);
                     img{
                         height: 15px;
                     }
                     h5{  
                       font-size: 10px;
                     }
                     .fa-eye,.fa-user-circle,.fa-mobile-alt,.fa-info-circle ,.fa-plus{
                        font-size: 15px;
                     }
                }
            }
        }
        
    }
    
  }

  @media (max-width: 681px) {
    .bg-img{
        .wrapper{
            display: none;
        }
        
    }
    
  }