@import '../../../../assets/colors.scss';
.details-container {
  padding-top: 100px;
  padding-bottom: 70px;
  padding-inline: 7%;
  background-color: $gray-1;
  .news-details-header {
    .current-routing {
      font-size: 14px;
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        color:$gray-3;
        padding-right: 5px;
        cursor: pointer;
        &.active {
          color: $main-mode;
        }
      }
    }
  }
  .card-img-top {
    height: 450px;
  }
  .social-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $sub-mode;
    font-size: 18px;
    margin: auto 0;
    i{
        padding-inline: 5px;
        cursor: pointer;
    }
  }
  .share-box{
    position: absolute;
    right: 20px;
    bottom: 70px;
    display: flex;
    flex-direction: row-reverse;
    width: 150px;
    color: #fff;
    font-size: 25px;
    padding: 2px;
    span{
      width: 50px;
      cursor: pointer;
      &.email{
        background-color: red;
      }
      &.twitter{
        background-color: #00B9FF;
      }
      &.facebook{
        background-color: #045775;
      }
      i{
        padding: 0 12px;
      }
    }
  }
  .view-all{
    word-spacing: 3px;
    margin: auto 0;
    a{
        text-decoration: none;
        color: $sub-mode;
        font-size: 18px;
        span{
            padding-inline: 10px;
        }
    }
   
}
  .card-img-overlay {
    background-color: #faf8f8e5;
    height: auto;
    top: 275px;
    margin-bottom: 1rem;
    margin-inline: 1rem;
    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .view-all{
        word-spacing: 3px;
        a{
            text-decoration: none;
            color: $sub-mode;
            font-size: 18px;
            cursor: pointer;
            span{
                padding-right: 10px;
            }
        }
       
    }
  }
}
