<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <div class="d-flex flex-row justify-content-around">
      <span class="nav-item" (click)="toggleSideMenu()">
        <img class="img-menu toggle-icon" src="../../../assets/Menu.png" alt="menu" *ngIf="!sideMenuIsOpen">
      </span>
      <span class="nav-item" (click)="toggleSideMenu()">
        <i class="fas fa-times toggle-icon" *ngIf="sideMenuIsOpen"></i>
      </span>
      <span class="nav-item">
        <img class="navbar-brand" src="../../../assets/Link_logo_vertical_color_Light_RGB-3.png" alt="log">
      </span>
    </div>
    <button (click)="toggle()" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li matTooltip="Search" class="nav-item nav-icon mx-1" (click)="handelSearchInput()" *ngIf="!shearchIconIsClicked">
          <img class="icon-size" src="../../../assets/search-1.png" alt="search">
        </li>
        <div  class="input-group expand-icon mx-1" (click)="handelSearchInput()" *ngIf="shearchIconIsClicked">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <img class="icon-size" src="../../../assets/search-1.png" alt="search">
          </div>
        </div>
        <li matTooltip="Notification" class="nav-item nav-icon mx-1">
          <i class="far fa-bell"></i>
        </li>
        <li  class="d-flex profile-section mx-1">
          <img class="profile-photo mx-1" src="../../../assets/img-1.png" alt="user image">
          <span class="user-name mx-1"> User Name </span>
        </li>
          <i matTooltip="Setting" class="fas fa-cog mx-1" id="dropdownBasic1" [matMenuTriggerFor]="beforeMenu"></i>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item disabled>
              <small class="text-muted"> Language</small>
            </button>
            <button mat-menu-item>English <i class="fas fa-check"></i></button>
            <button mat-menu-item>اللغة العربية</button>
            <hr>
            <button mat-menu-item disabled>
              <small class="text-muted"> Font Size</small>
            </button>
            <button mat-menu-item>
              <span><i class="fas fa-font" style=" color: #8dc043;"></i></span>
              <span><i class="fas fa-font"></i></span>
              <span><i class="fas fa-font"></i></span>
            </button>
            <hr>
            <button mat-menu-item disabled>
              <small class="text-muted"> Account </small>
            </button>
            <button mat-menu-item>
              Sign In
            </button>
          </mat-menu>
      </ul>
    </div>
  </div>
</nav>
<div class="side-menu" #sideMenu>
  <div class="side-icons d-flex flex-column justify-content-end align-items-center">
    <div class="side-icon">
      <i class="fab fa-twitter"></i>
    </div>
    <div class="side-icon">
      <i class="fab fa-facebook-f"></i>
    </div>
    <img class="side-icon" src="../../../assets/linkedin-1.png">
    <img class="side-icon" src="../../../assets/surface-22.png">
    <img class="side-icon" src="../../../assets/surface-27.png">
  </div>
  <div class="side-links d-flex flex-column justify-content-between">
    <ul>
      <li class="main-link">
        <a [routerLink]="['/Home']" routerLinkActive="active"> Home</a>
      </li>
      <div class="links-group">
        <div class="main-link">About Us</div>
        <li class="sub-link">
          <a [routerLink]="['']" > How Ara Us</a>
        </li>
        <li class="sub-link">
          <a [routerLink]="['']" > Why Us</a>
        </li>
      </div>
      <div class="links-group">
        <div class="main-link">News</div>
        <li class="sub-link">
          <a [routerLink]="['/home']" routerLinkActive="active"> News</a>
        </li>
        <li class="sub-link">
          <a [routerLink]="['/home']" routerLinkActive="active"> Events</a>
        </li>
      </div>
      <div class="links-group">
        <div class="main-link">Careers</div>
        <li class="sub-link">
          <a [routerLink]="['/home']" routerLinkActive="active"> Opportunities</a>
        </li>
      </div>
    </ul>
    <ul>
      <li class="main-link">
        <a [routerLink]="['/home']" routerLinkActive="active"> Contact Us</a>
      </li>
      <li class="main-link">
        <a [routerLink]="['/home']" routerLinkActive="active"> Site Map</a>
      </li>
    </ul>
  </div>
</div>
