
@import '../../../assets/colors.scss';

.navbar {
  background-color: $main-mode !important;
  height: 70px;
  .collapse{
    width: 100%;
    justify-content: flex-end;
  }
  .img-menu {
    transform: rotate(254deg);
  }
  .toggle-icon{
    font-size: 25px;
    color: white;
    margin: 8px 0;
    cursor: pointer;
  }
  .fa-cog{
    color: white;
    font-size: 25px;
    margin: auto 0;
  }
  .nav-icon {
    .icon-size {
      height: 30px;
      margin: 8px 0;
      cursor: pointer;
    }
    &:hover {
      background-color: $sub-mode;
      border-radius: 5px;
    }
    i {
      font-size: 31px;
      color: white;
      margin: 8px 0;
      cursor: pointer;
    }
  }
  .expand-icon {
    &.input-group{
      margin-left: 0px !important;
      background-color: #3b5053;
      border: none;
      border-radius: 5px;
      .form-control {
        background-color: #3b5053;
        border: none;
      }
      .input-group-append {
        margin-inline: 14px;
        .icon-size {
          height: 23px;
          margin: 8px 0;
          cursor: pointer;
        }
      }
    }
  }

  .nav-item {
    padding-inline: 10px;
  }
  
  .profile-section {
    color: white;
    font-size: 17px;
    .profile-photo {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    .user-name{
      width: 107px;
      align-self: center;
    }
  }
}

.side-menu{
  height: 90vh;
  width: 500px;
  margin-top: 70px;
  background-color: $main-mode;
  color: white;
  display: none;
  position: fixed;
  z-index: 99;
  border-top: .5px solid rgb(126, 168, 179);
  &.open-sideMenu{
    display: flex;
    flex-direction: row;
  }
  &.close-sideMenu{
    display: none;
  }
  .side-icons{
    width: 110px;
    border-right: 1px solid rgb(126, 168, 179);
    .side-icon{
      margin: 15px 0;
      cursor: pointer;
      i{
        font-size: 20px;
      }
    }
  }
  .side-links{
    padding: 15px 50px;
    ul{
      list-style: none;
      padding: 0;
      .main-link{
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0;
        a{
          color: $gray-1;
          text-decoration: none;
        }
      }
      .links-group{
        margin: 20px 0;
        .sub-link{
          margin: 5px 0;
          a{
            color: $gray-1;
            text-decoration: none;
          }
        }
      }
    }
  }
  .active{
    color: $sub-mode !important;
  }
  .collapse{
    background-color: $main-mode !important;
  }
}

.fa-check{
  color: $sub-mode;
  padding-inline: 10px;
}
.fa-font{
  padding-inline: 10px;
}

@media (max-width: 990px) {
  .navbar-collapse
    {
        background-color: $main-mode;
        margin-left: 55%;
        padding: 15px ;
        text-align: center;
        ul li{
          margin: 3px 0;
        }
    }
}
