<!-- <footer class="d-flex flex-row justify-content-around">
    <ul>
        <li>
            <a routerLink="">News</a>
        </li>
        <li>
            <a routerLink="">Events</a>
        </li>
        <li>
            <a routerLink="">About</a>
        </li>
        <li>
            <a routerLink="">FAQs</a>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="">Privacy Policy</a> 
        </li>
        <li>
            <a routerLink="">Contact Us</a>  
        </li>
        <li>
            <a routerLink="">Compains</a>  
        </li>
    </ul>
    <div class="form-footer">
        <label class="form-label"> Subscribe To NewsLetters </label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
        </div>
    </div>
    <div class="follow-us">
        <p> Follow Us on</p>
        <div class="social-icons row">
            <img class="icon" src="../../../assets/surface-2.png" alt="instgram">
            <img class="icon" src="../../../assets/surface-1.png" alt="youtube">
            <img class="icon" src="../../../assets/surface1.png" alt="linkedIn">
            <i class="fab fa-facebook-f col-md-1"></i>
            <i class="fab fa-twitter col-md-1"></i>
        </div>
    </div>
</footer> -->
<footer >
    <div  class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 ">
                <ul>
                    <li>
                        <a routerLink="">News</a>
                    </li>
                    <li>
                        <a routerLink="">Events</a>
                    </li>
                    <li>
                        <a routerLink="">About</a>
                    </li>
                    <li>
                        <a routerLink="">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <ul>
                    <li>
                        <a routerLink="">Privacy Policy</a> 
                    </li>
                    <li>
                        <a routerLink="">Contact Us</a>  
                    </li>
                    <li>
                        <a routerLink="">Compains</a>  
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-footer">
                    <label class="form-label"> Subscribe To NewsLetters </label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="follow-us">
                    <p> Follow Us on</p>
                    <div class="social-icons row">
                        <img class="icon  col-md-1" src="../../../assets/surface-2.png" alt="instgram">
                        <img class="icon  col-md-1" src="../../../assets/surface-1.png" alt="youtube">
                        <img class="icon  col-md-1" src="../../../assets/surface1.png" alt="linkedIn">
                        <i class="fab fa-facebook-f col-md-1 icon "></i>
                        <i class="fab fa-twitter col-md-1 icon "></i>
                    </div>
                </div>
            </div>
          </div>
    </div>
</footer>

<div class="text-center bootom-Footer">
    <p>all rights reserved link development company © 2020</p>
</div>