@import '../../../assets/colors.scss';
footer{
    background-color: $gray-2;
    padding: 1.5rem 0;
    ul{
        list-style: none;
        li{
            margin: 3px 0;
            a{
                text-decoration: none;
                color: $gray-3;
            }
        }
    }
    .form-footer{
        input{
            border: none;
        }
        .btn-primary{
            background-color: $sub-mode !important;
            border: none;
        }
    }
    .follow-us{
        .icon{
            height: 28px;
            width: 50px;
            cursor: pointer;
        }
        i{
            color: $gray-3;
            font-size: 25px;
            cursor: pointer;
        }
    }
   
}
.bootom-Footer{
    background-color: $main-mode;
    color: #fff;
    height: 50px;
    padding: 15px 0;
    
}